<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="Kaar Technologies" width="35" height="35"
          class="d-inline-block align-text-top">
        <a class="navbar-brand mb-0 h1 title" href="#"> Kaar Technologies</a>
      </a>
      <div class="d-flex">
        <a class="btn btn-dark" href="https://www.kaartech.com/" *ngIf="enableAboutus"><i class="bi bi-file-person"></i> &nbsp; About Us</a>
        <a class="btn btn-dark" (click)="logout()" *ngIf="enableLogout" ><i class="bi bi-power"></i> &nbsp; Logout</a>
      </div>
    </div>
</nav>