<div class="container">
    <table id="table" data-toggle="table" data-flat="true" data-search="true" data-url="jsonBody" >
      <thead>
        <tr>
          <th data-field="0.EMPLOYEENO" data-sortable="true">ID</th>
          <th data-field="0.VALIDBEGIN" data-sortable="true">Begin Date</th>
          <th data-field="0.VALIDEND" data-sortable="true">End Date</th>
          <!-- <th data-field="Nayment.TotalAsset" data-sortable="true">Total Assets</th>
          <th data-field="Nayment.BalanceDetails.PowerCash" data-sortable="true"><small>Balance Details</small><br/>Power Cash</th>
          <th data-field="Nayment.BalanceDetails.BlockedCash" data-sortable="true"><small>Balance Details</small><br/>Blocked Cash</th>
          <th data-field="Nayment.BalanceDetails.creditCash" data-sortable="true"><small>Balance Details</small><br/>Credit Cash</th>
          <th data-field="Nayment.BalanceDetails.AccountCash" data-sortable="true"><small>Balance Details</small><br/>Account Cash</th> -->
        </tr>
      </thead>
    </table>
  </div>