<div class="row pt-0 pb-2 ng-star-inserted">
    <!---->
    <div class="col-12 pl-2 pr-2">
        <div class="tiles-wrapper">
            <div class="card tiles mr-3 mb-3 mt-3 ml-3 ng-star-inserted">
                <div class="card-body pt-2 pb-1 pl-1 pr-1">

                    <!---->
                    <div class="row pt-2 pb-1 d-flex justify-content-center"><img height="55px" width="55px"
                            src="assets/images/empprofile.webp"></div>
                    <div class="layer"></div>
                    <div class="row d-flex pt-2 pb-2">
                        <a href="#" class="btn btn-light" routerLink="/profile"><span class="mx-auto tiles-title">
                                Profile</span></a>
                    </div>
                </div>
            </div>
            <div class="card tiles mr-3 mb-3 mt-3  ng-star-inserted">
                <div class="card-body pt-2 pb-1 pl-1 pr-1">
                    <!---->
                    <div class="row pt-2 pb-1 d-flex justify-content-center"><img height="55px" width="55px"
                            src="assets/images/emppayroll.webp"></div>
                    <div class="layer"></div>
                    <div class="row d-flex pt-2 pb-2"><a href="#" routerLink="/payroll" class="btn btn-light"><span
                                class="mx-auto tiles-title"> Pay Roll</span></a></div>
                </div>
            </div>
            <div class="card tiles mr-3 mb-3 mt-3 ng-star-inserted">
                <div class="card-body pt-2 pb-1 pl-1 pr-1">
                    <!---->
                    <div class="row pt-2 pb-1 d-flex justify-content-center"><img height="55px" width="55px"
                            src="assets/images/emppayslip.webp"></div>
                    <div class="layer"></div>
                    <div class="row d-flex pt-2 pb-2"><a href="#" routerLink="/payslip" class="btn btn-light"><span
                                class="mx-auto tiles-title"> Pay Slip</span></a></div>
                </div>
            </div>
            <div class="card tiles mr-3 mb-3 mt-3 ng-star-inserted">
                <div class="card-body pt-2 pb-1 pl-1 pr-1">
                    <!---->
                    <div class="row pt-2 pb-1 d-flex justify-content-center"><img height="55px" width="55px"
                            src="assets/images/leavereq.webp"></div>
                    <div class="layer"></div>
                    <div class="row d-flex pt-2 pb-2 align-items-center d-flex justify-content-center"><a routerLink="/leavereq" href="#"
                            class="btn btn-light"><span class="mx-auto tiles-title"> Leave Request</span></a></div>
                </div>
            </div>
            <!---->
        </div>
    </div>
</div>