
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.png" alt="Kaar Technologies" width="35" height="35"
        class="d-inline-block align-text-top">
      <a class="navbar-brand mb-0 h1 title" href="#"> Kaar Technologies</a>
    </a>
    <div class="d-flex">
      <a href="#" class="btn btn-dark"><i class="bi bi-file-person"></i> &nbsp; About Us</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<body>
  <h2 class="mt-4 top-0 mb-2  leading-normal sm:sm-heading heading move">Manage Various Portal at One Spot</h2>
  <p class="subheading max-w-2xl">
    Welcome to Kaar Portal Management System.Manage the Customer,Vendor and Employee Portal at one step.
    
  </p>
  <div class="row">
    <div class="col-sm-4 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/customer.jpg"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Customer Portal</h5>
          <p class="card-text">To understand the functionalities of Sales and Distribution
            and Finance of an Plant.</p>
          <a href="#" class="btn btn-dark"  (click)="customerroute()" >To Know More..</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/vendor.jfif" width="286" height="190" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vendor Portal</h5>
          <p class="card-text">To understand the functionalities of Material Management
             and Finance module..</p>
          <button href="#" class="btn btn-dark">To Know More..</button>
        </div>
      </div>
    </div>

    <div class="col-sm-4 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/employee.png" width="286" height="190" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Employee Portal</h5>
          <p class="card-text">To understand the functionalities of Human Resource
             and Finance module. .</p>
          <a href="#" class="btn btn-dark" >To Know More..</a>
        </div>
      </div>
    </div>

  </div>
 

</body>