<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <ng-container matColumnDef="salesdocument">
        <th mat-header-cell *matHeaderCellDef> Sales Document </th>
        <td mat-cell *matCellDef="let element"> {{element.VBELN}} </td>
    </ng-container>

    <ng-container matColumnDef="creatby">
        <th mat-header-cell *matHeaderCellDef>Created By </th>
        <td mat-cell *matCellDef="let element"> {{element.ERNAM }} </td>
    </ng-container>

    <ng-container matColumnDef="creaton">
        <th mat-header-cell *matHeaderCellDef>Created On</th>
        <td mat-cell *matCellDef="let element"> {{element.ERDAT}} </td>
    </ng-container>

    <ng-container matColumnDef="transdata">
        <th mat-header-cell *matHeaderCellDef> Trans Data Number </th>
        <td mat-cell *matCellDef="let element"> {{element.EXNUM}} </td>
    </ng-container>

    <ng-container matColumnDef="billingamount">
        <th mat-header-cell *matHeaderCellDef> Billing Amount</th>
        <td mat-cell *matCellDef="let element"> {{element.FKDAT }} </td>
    </ng-container>

    <ng-container matColumnDef="loginsystem">
        <th mat-header-cell *matHeaderCellDef> Logged in System </th>
        <td mat-cell *matCellDef="let element"> {{element.LOGSYS}} </td>
    </ng-container>

    <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element"> {{element.ERZET }} </td>
    </ng-container>



    <ng-container matColumnDef="taxamt">
        <th mat-header-cell *matHeaderCellDef> Tax Amount</th>
        <td mat-cell *matCellDef="let element"> {{element.MWSBK}} </td>
    </ng-container>

    <ng-container matColumnDef="netvalue">
        <th mat-header-cell *matHeaderCellDef> Net Value </th>
        <td mat-cell *matCellDef="let element"> {{element.NETWR}} </td>
    </ng-container>

    <ng-container matColumnDef="doccurrency">
        <th mat-header-cell *matHeaderCellDef> Document Currency  </th>
        <td mat-cell *matCellDef="let element"> {{element.WAERK}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

