
<app-header></app-header>
<img src="assets/images/customer1.jpg"   alt="..." style="width: 85rem;padding: 0px 10px;height: 25rem;">

<div class="container">
  
<app-customerlogin></app-customerlogin>
<!-- A customer web portal is a secure website that provides your customers with a single point of access to company information that is relevant to them, such as policies, invoices, deliveries, orders and online payments. 
A customer portal is available 24/7, 365 days a year on a desktop or mobile device such as a tablet, laptop or smartphone.
The most common customer portal benefits include increased customer satisfaction, improved communication, the removal of costly, non-value adding data entry and, if you’re processing online payments, stronger cash flow. Client portals can also be integrated with your primary business systems such as an accounting, ERP or CRM system, enabling you to automate the transfer of information between your systems in real time.
      -->
</div>
<div class="logindivision">
    A customer web portal is a secure website that provides your customers with a single point of access to company information that is relevant to them, such as policies, invoices, deliveries, orders and online payments. 
A customer portal is available 24/7, 365 days a year on a desktop or mobile device such as a tablet, laptop or smartphone.
The most common customer portal benefits include increased customer satisfaction, improved communication, the removal of costly, non-value adding data entry and, if you’re processing online payments, stronger cash flow. Client portals can also be integrated with your primary business systems such as an accounting, ERP or CRM system, enabling you to automate the transfer of information between your systems in real time.
     
    <!-- <button type="button" class="btn btn-danger" routerLink="/customer/login">Login</button> -->
</div>
